doctype html
html(lang='en')
    head
        style.
            form {
                margin-top: 10%;
                margin-left: 10%;
                text-align: center;
                width: 80%;
            }

        title Movie Search & Recommendation
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

    body
        nav.navbar.navbar-default
            .container
                .navbar-header
                    a.navbar-brand(href='http://phamviethung.github.io') About Me
                ul.nav.navbar-nav
                    li.active
                        a(href='#') Home
                    li
                        a(href='#') Result
                    li
                        a(href='#') Detail

                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="login") Login

        .container
            form(class="input-group" action=  '/search',  method='get')

                h1 Movie search & recommendation
                    p
                        p
                            input.form-control(
                            required=''
                            type='text'
                            class="form-control"
                            placeholder="Enter movie's name..."
                            aria-describedby="inputSuccess2Status"
                            name='title'
                            )
                            span.input-group-btn
                            button.btn.btn-primary(type='submit') Search



